@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 15px;
}

body {
  display: grid;
  place-items: center;
  padding: 20px;
  height: 100vh;
  background-color: #e0e0e0;
}

.container__app {
  width: 100%;
  height: 660px;
  transition: all 1s ease;
  font-family: 'Montserrat', sans-serif;
}

.container__app.warm {
  transition: all 1 ease;
  height: auto;
}

.container__app.cold {
  transition: all 1 ease;
  height: auto;
}

.app.warm {
  background-image: url('https://i.imgur.com/96DdlXs.jpg');
}

.app.cold {
  background-image: url('https://i.imgur.com/WjJ4ykK.jpg');
}

.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 370px auto;
  color: white;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  background-image: linear-gradient(to bottom, rgb(255 255 255 / 22%), rgb(210 210 210));
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease-out;
  width: 350px;
  height: 100%;
  border-radius: 20px;
}

header {
  position: absolute;
  left: 0;
  right: 0;
}

.form-weather {
  display: flex;
  width: 100%;
}

.form__input {
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  border-radius: 20px 0 0 0;
  font-size: 0.8rem;
  width: 100%;
  border: none;
}

.form__input::placeholder {
  opacity: 1;
  color: black;
  font-weight: 500;
}

.form__input:placeholder-shown {
  text-overflow: ellipsis;
}

.form__input:focus {
  outline: none;
}

.form__btn {
  display: grid;
  place-items: center;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  border-radius: 0 20px 0 0;
  padding: 15px 20px;
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s all ease;
}

.form__btn:hover {
  background-color: hsl(0, 0%, 17%);
}

.app > .container__top {
  position: relative;
  margin-bottom: 15px;
}

.app > .container__top > .top__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px 10px 10px;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 500;
}

.top__content.warm,
.top__content.cold {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.top__content p {
  font-weight: 600;
  font-size: 1.25rem;
}

.top__content span {
  font-size: 4.5rem;
  font-weight: 500;
}

.app > .container__top > .top__image {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}

.container__bottom.warm,
.container__bottom.cold {
  margin: 0 20px 20px 20px;
  position: relative;
  border-radius: 20px;
  z-index: 1;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.container__bottom .container__image {
  display: flex;
  justify-content: center;
}

.container__bottom .container__image img {
  width: 65px;
}

.container__bottom .container__image img.warm {
  filter: drop-shadow(2px 3px 10px #9c3d54);
}

.container__bottom .container__image img.cold {
  filter: drop-shadow(2px 3px 10px #4ab9f4);
}

.container__bottom .location {
  text-align: center;
  font-weight: 700;
  margin-top: 10px;
  font-size: 1.8rem;
}

.container__bottom .date {
  text-align: center;
  font-weight: 700;
  margin: 10px 0;
  font-size: 0.95rem;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

li {
  display: inline;
  list-style: none;
  font-size: 0.85rem;
  font-weight: 600;
}

li > span {
  text-transform: capitalize;
}

.alert {
  position: absolute;
  background: white;
  transition: all ease-in-out 0.8s;
  text-align: center;
  width: 350px;
  padding: 20px;
  font-weight: 600;
  border: 3px solid #000000;
  top: -100%;
  z-index: 3;
  border-radius: 20px 20px 0 0;
}

.alert.error {
  top: 5%;
  border: 3px solid #e34747;
}

.alert.success {
  top: 2%;
  border: 3px solid #43a854;
}

.error {
  color: #e34747;
}

.success {
  color: #43a854;
}

@media screen and (width <= 650px) {
  body {
    height: 80vh;
    font-size: 12px;
    padding: 10px;
  }

  .container__app {
    height: auto;
  }

  .container__bottom {
    padding: 10px;
  }
}
